.welcome{
    background-color: tomato;
    border: 5px solid red;
}

.clock {
    width: fit-content;
    color: blue;
    border: 2px dotted darkblue;
}

.clock-button {
    color: blue;
    background-color: white;
    border: 2px solid blue;
    padding: 5px;
    border-radius: 15%;
    margin-bottom: 5px;
    margin-right: 0.5rem;
}