* {
    margin: 0;
    padding: 0;
    color: darkgray;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: white;
    font-size: 20px;
}

nav {
    background: rgba(0,0,0,0.85);
    width: 100%;
    height: 70px;
    position: fixed;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: white;
    font-size: 25px;
}

li {
    display: inline;
    list-style: none;
    padding-left: 15px;
}

a {
    text-decoration: none;
}

select {
    margin: 15px;
}

input {
    margin: 15px;
    border-color: darkgray;
    color: rgb(37, 37, 37);
    padding: 10px;
    border-radius: 4px;
    font-size: 20px;
}

::placeholder {
    color: darkgray;
}

.nav-left {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-left: 20px;
}

.nav-right {
    padding-right: 20px;
}

.no-border {
    background-color: transparent;
    padding: 10px;
    border: 0;
    font-size: 20px;
}

.search-button {
    color: lightgreen;
    border-color: lightgreen;
    background-color: transparent;
    padding: 10px;
    border-radius: 4px;
    font-size: 20px;
}

.search-button:hover {
    background-color: lightgreen;
    color: black;
}

input:hover {
    background-color: lightgreen;
    color: green;
}

a:hover {
    color: white;
}