body {
    font-size: 25px;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

p {
    width: 25px;
    height: 25px;
}

#yellow {
    width: 12.5%;
    order: 1;
}

#red {
    width: 12.5%;
    order: 2;
}

#green {
    width: 12.5%;
    order: 3;
}

#orange {
    width: 50%;
    order: 4;
}

#blue {
    width: 12.5%;
    order: 5;
}